---
import { getFoundraisingProgress } from '@data/real/fundraising';

import FundraisingProgress from './FundraisingProgress.svelte';
import SupportForm from './SupportForm.svelte';

const foundraisingProgress = await getFoundraisingProgress();
---

<section class="py-8 lg:py-12" data-testid="supporting-members">
  <div class="mx-auto max-w-[80rem] px-4 lg:px-20">
    <h2 class="font-serif text-2xl font-bold lg:text-4xl">Werde Fördermitglied</h2>
    <p class="mt-3 font-serif text-xl font-bold lg:mt-2 lg:text-2xl">
      Deine Chance uns zu unterstützen und mehr über uns zu erfahren!
    </p>
    <div class="py-8">
      <FundraisingProgress
        client:load
        middleProgress={965}
        peopleCount={foundraisingProgress.count}
        progress={foundraisingProgress.amount}
        targetProgress={1325}
      />
    </div>
    <p class="mt-8 max-w-prose lg:mt-10 lg:text-xl">
      Du willst junge Menschen auf ihrer Reise zur persönlichen Entwicklung und zur aktiven
      Gestaltung unserer Gesellschaft unterstützen?
    </p>
    <div class="mt-8 flex items-center justify-center lg:mt-6 lg:block">
      <SupportForm client:load />
    </div>
  </div>
</section>
