---
import JonasPortrait from '@assets/support-us/Jonas.png';
import Button from '@components/Button.astro';
import { Image } from 'astro:assets';
---

<section class="mx-auto max-w-[80rem] pb-16 lg:pb-24">
  <div
    class="mt-12 gap-x-28 border-y-2 border-yellow-500 bg-yellow-900 px-4 py-10 lg:mx-20 lg:mt-16 lg:flex lg:flex-row lg:rounded-2xl lg:border-2 lg:px-24"
  >
    <h3 class="font-serif text-2xl font-bold lg:hidden">Falls du Fragen hast!</h3>
    <Image
      alt="Jonas"
      class="mx-auto mt-5 h-56 w-56 rounded-2xl bg-gray-300 object-cover object-center lg:mx-0 lg:mt-0"
      src={JonasPortrait}
    />
    <div>
      <h3 class="hidden text-center font-serif text-4xl font-bold lg:block">
        Falls du Fragen hast!
      </h3>
      <dl class="mt-8 grid grid-cols-1 lg:grid-cols-2">
        <dt class="font-bold">Ansprechpartner</dt>
        <dd>Jonas Bulik</dd>

        <dt class="mt-5 font-bold lg:mt-0">Email</dt>
        <dd>
          <a class="text-gray-800 underline" href="mailto:jonas@youngvision.org"
            >jonas@youngvision.org</a
          >
        </dd>
      </dl>
      <Button class="mt-7" color="dark" href="mailto:kontakt@youngvision.org" text="Schreibe uns" />
    </div>
  </div>
</section>
