---
import SupportUsHeroBackground from '@assets/support-us/support-us-hero-background.jpeg';
import { getImage } from 'astro:assets';

const SupportUsHeroBackgroundUrl = await getImage({ src: SupportUsHeroBackground });
---

<section
  class="flex h-[10rem] w-full items-center justify-center bg-cover bg-center pt-10 lg:block lg:h-[34rem] lg:pt-16"
>
  <h1 class="text-center font-serif text-4xl font-extrabold text-white lg:text-6xl">
    Unterstütze Uns
  </h1>
</section>

<style define:vars={{ backgroundImage: `url(${SupportUsHeroBackgroundUrl.src})` }}>
  h1 {
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
  }

  section {
    background-image: var(--backgroundImage);
  }
</style>
