---
import { getImage } from 'astro:assets';

import Background from '@assets/events/events-hero-bg.jpeg';

const backgroundImage = await getImage({ src: Background, width: 1920, height: 1080 });
---

<section class="flex h-[44rem] w-full flex-col justify-between bg-cover bg-center pt-12 lg:pt-20">
  <h1 class="text-center font-serif text-4xl font-bold text-white lg:text-5xl">Sei Dabei</h1>
  <div class="w-full bg-gray-800 bg-opacity-60 px-4 pb-6 pt-10 text-white lg:px-20">
    <h2 class="font-serif text-2xl font-bold lg:text-3xl">
      Vergangene Veranstaltungen: Sommercamp Ressourcen
    </h2>
    <p class="mt-5 max-w-prose lg:text-xl">
      Dank der großzügigen Förderung des “Zukunftspakets” der dkjs, konnten wir uns ein ganzes
      Wochenende lang intensiv mit unseren Ressourcen beschäftigen und haben dabei gemeinsam ganz
      viel Energie und Verbindung getankt.
    </p>
  </div>
</section>

<style define:vars={{ backgroundImage: `url(${backgroundImage.src})` }}>
  section {
    background-image: var(--backgroundImage);
  }
</style>
