---
import ProjectBackground1 from '@assets/events/projects-bg-lg-1.jpg';
import ProjectBackground2 from '@assets/events/projects-bg-lg-2.jpg';
import { Image } from 'astro:assets';

import Calendar from '@components/Calendar.svelte';
import { getNext3Events } from '@data/events';

const events = await getNext3Events();
---

<section class="relative mt-14">
  <div class="not-sr-only absolute -z-10 mt-16">
    <Image src={ProjectBackground1} alt="" />
  </div>
</section>
<div class="mx-auto mb-10 max-w-[80rem] px-4 lg:mb-16 lg:px-20">
  <h2 class="font-serif text-2xl font-bold">Unsere nächsten Veranstaltungen</h2>
  <p class="mt-3 max-w-prose lg:mt-6">
    Trau dich! Wir wissen, es ist nicht so leicht, an Orte zu kommen, wo du niemanden kennst. Aber
    auch, wenn du bisher noch keinen Kontakt mit YoungVision hattest, bist du ganz herzlich
    eingeladen, zu kommen wie du bist. Du kannst dir sicher sein, wir fangen dich auf und halten den
    Raum für dich und deinen Prozess.
  </p>
</div>
<div class="not-sr-only absolute -bottom-52 right-0 -z-20">
  <Image src={ProjectBackground2} alt="" />
</div>

<Calendar events={events} client:visible />
