---
import History from '@components/about-us/History.astro';
import TeamMembers from '@components/about-us/TeamMembers.astro';
import VisionMissionValues from '@components/about-us/VisionMissionValues.astro';
import WhatWeDo from '@components/about-us/WhatWeDo.astro';
import Layout from '@layouts/Layout.astro';

import Background from '@assets/about-us/background-vision-statement.png';
import FlowerDecoration from '@components/about-us/FlowerDecoration.astro';
import TryThisAtHome from '@components/about-us/TryThisAtHome.astro';
import { Image } from 'astro:assets';
---

<Layout title="YoungVision e.V. - About Us">
  <div class="relative overflow-hidden">
    <Image
      class="absolute top-[-5rem] right-[-5rem] -z-10 h-[19rem] w-auto lg:top-[-7rem] lg:right-[-7rem] lg:h-[32rem]"
      src={Background}
      alt="YoungVision Logo"
    />
    <Image
      class="absolute top-[7rem] left-[-7rem] -z-10 h-[14rem] w-auto lg:top-[17rem] lg:left-[-14rem] lg:h-[25rem]"
      src={Background}
      alt="YoungVision Logo"
    />
    <Image
      class="absolute right-[-4rem] bottom-[-7rem] -z-10 h-[14rem] w-auto"
      src={Background}
      alt="YoungVision Logo"
    />
    <Image
      class="absolute top-[70rem] left-[-4rem] -z-10 h-[14rem] w-auto lg:top-[43rem] lg:left-[5rem]"
      src={Background}
      alt="YoungVision Logo"
    />
    <VisionMissionValues />
    <History />
  </div>

  <TeamMembers />
  <WhatWeDo />
  <TryThisAtHome />
  <FlowerDecoration />
</Layout>
