---
import Layout from '@layouts/Layout.astro';
---

<Layout title="YoungVision e.V. - Impressum">
  <div class="max-w-prose px-4 py-8 lg:px-24 lg:py-12">
    <h1>Impressum</h1>
    <h2>Angaben gemäß § 5 TMG:</h2>
    <address>YoungVision e.V. Am bhf 4, 16307 Mescherin Deutschland</address>
    <h2>Kontodaten</h2>
    <p>IBAN: DE65 4306 0967 1154 7280 00</p>
    <p>BIC: GENO DEM 1 GLS</p>
    <h2>Vorstand</h2>
    <ul>
      <li>Rebecca Kresimon</li>
      <li>Jakob Voigt</li>
      <li>Emma Fernandez Schmidt</li>
      <li>Jonas Bulik</li>
    </ul>
    <h2>Kontakt</h2>
    <dl>
      <dt>E-Mail:</dt>
      <dd>
        <a class="text-gray-800 underline" href="mailto:kontakt@youngvision.org"
          >kontakt@youngvision.org</a
        >
      </dd>
      <dt>Datenschutz</dt>
      <dd>
        <a class="text-gray-800 underline" href="mailto:it@youngvision.org">it@youngvision.org</a>
      </dd>
    </dl>
    <h2>Registereintrag</h2>
    <p>Registergericht: Amtsgericht Charlottenburg Registernummer: VR 32815 B</p>
    <a
      class="text-gray-800 underline"
      download="YoungVision_Satzung_2023.pdf"
      href="/downloads/YoungVision_Satzung_2023.pdf">Satzung</a
    >
    <h2>Haftungsauschluss</h2>
    <h3>Haftung für Inhalte</h3>
    <p>
      Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
      allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch
      nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder
      nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen
      zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
      bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
      Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
      Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
    </p>
    <h3>Haftung für Links</h3>

    <p>
      Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen
      Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für
      die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
      verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche
      Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
      erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne
      konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
      Rechtsverletzungen werden wir derartige Links umgehend entfernen.
    </p>
    <h3>Urheberrecht</h3>
    <p>
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
      deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der
      Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des
      jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den
      privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht
      vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden
      Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
      Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
      Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
    </p>
  </div>
</Layout>
<style>
  @reference '../styles/global.css';

  h1 {
    @apply mb-3 font-serif text-3xl font-bold lg:text-5xl;
  }
  h2 {
    @apply mt-3 mb-2 font-serif text-2xl font-bold lg:text-4xl;
  }
  h3 {
    @apply mt-3 mb-1 font-serif text-xl font-bold lg:text-3xl;
  }
  p {
    @apply mt-3 text-justify lg:text-xl;
  }
</style>
