---
import { Image } from 'astro:assets';
import FooterBackground from '@assets/members/members-footer-background.jpeg';
import Layout from '@layouts/Layout.astro';

import Hero from '@components/members/Hero.astro';
import MemberBenefits from '@components/members/MemberBenefits.astro';
import Testimonials from '@components/Testimonials.svelte';

import { getTestimonials } from '@data/testimonials';

const testimonials = await getTestimonials();
---

<Layout title="Mitgliedschaft">
  <Hero />
  <MemberBenefits />

  <div class="lg:py-24">
    <Testimonials client:load {testimonials} />
  </div>
  <Image
    src={FooterBackground}
    class="h-[35rem] w-full object-cover lg:h-[60rem]"
    alt="YoungVision Menschen sitzen am Lagerfeuer"
  />
</Layout>
