---
import Circle from '@assets/icons/Circle.astro';
interface Props {
  class?: string;
  color?: 'bright' | 'dark';
  download?: string;
  href: string;
  text: string;
}

const { class: className = '', color = 'dark', download, href, text }: Props = Astro.props;
---

<a
  class:list={[
    'inline-flex items-center gap-x-4 p-4 px-8 font-bold',
    {
      // black background, white text
      'bg-green-50': color === 'dark',
      // white background, black text
      'bg-white': color === 'bright',
      'text-black': color === 'bright',
      'text-white': color === 'dark',
    },
    className,
  ]}
  {download}
  {href}
>
  <Circle />
  {text}
</a>
