---
import FlowerExplosion from '@assets/about-us/flower-explosion.png';
import { Image } from 'astro:assets';
---

<div class="w-full overflow-hidden">
  <Image
    alt="Flower explosion"
    class="h-60 w-full object-cover object-top lg:h-72"
    sizes="100vw"
    src={FlowerExplosion}
    widths={[300, 721, 1080, 1340, 1560, 1750, 1920, 2048]}
  />
</div>
