---
import FlowerExplosion from '@assets/about-us/flower-explosion.png';
import { Image } from 'astro:assets';
---

<div class="w-full overflow-hidden">
  <Image
    src={FlowerExplosion}
    alt="Flower explosion"
    class="h-60 w-full object-cover object-top lg:h-72"
  />
</div>
