---
import OgYoungvisionPeople from '@assets/about-us/OG-youngvision-people.jpg';
import { Image } from 'astro:assets';
---

<section class="mx-auto mb-28 max-w-[80rem] px-4 lg:px-20">
  <div
    class="z-10 rounded-2xl bg-green-700 px-6 pt-8 pb-10 shadow-lg lg:flex lg:h-[30rem] lg:items-center lg:p-0"
  >
    <h2 class="font-serif text-2xl font-bold lg:hidden">YoungVision's Entstehung</h2>
    <div class="mt-7 flex-none lg:mt-0">
      <Image
        alt=""
        class="h-96 w-full rounded-2xl object-cover lg:h-[30rem] lg:w-[29rem] lg:rounded-r-none"
        sizes="(min-width: 1040px) 720px, (min-width: 700px) calc(100vw - 80px), 557px"
        src={OgYoungvisionPeople}
        widths={[720, 1008, 1152, 1440, 1728, 1900, 2048]}
      />
    </div>

    <div class="rounded-2xl bg-green-700 py-4 lg:px-24">
      <h2 class="hidden font-serif text-3xl font-bold lg:block">YoungVision's Entstehung</h2>
      <p class="mt-4 lg:mt-6">
        YoungVision wurde 2013 gegr체ndet, unter anderem inspiriert von Ideen und Werten von
        <a class="text-blue-700 hover:underline" href="https://thomashuebl.com/">Thomas H체bl</a>.
        Seitdem hat sich YoungVision stetig weiterentwickelt und ist zu einer engagierten
        Gemeinschaft gewachsen.
      </p>
      <p class="mt-4">
        Im Jahr 2023 hat sich mit einer neuen Organisationsstruktur und einem neuen Vorstand der
        Fokus des Vereins ver채ndert. YoungVision strebt nun danach, noch st채rker als zuvor zu einer
        Gemeinschaft zu werden, die von ihren Mitgliedern aktiv mitgestaltet wird.
      </p>
    </div>
  </div>
</section>
