---
import TriadenThumbnail from '@assets/about-us/triaden-thumbnail.jpeg';
import Button from '@components/Button.astro';
import { Image } from 'astro:assets';
---

<section
  class="mx-auto flex max-w-[80rem] flex-col items-center bg-yellow-500 px-5 py-10 lg:flex-row lg:items-end lg:gap-x-28 lg:pr-40 lg:pb-14 lg:pl-20"
>
  <h2 class="text-center font-serif text-2xl font-bold lg:hidden lg:text-left lg:text-4xl">
    Probier’s mit deinen Freunden aus!
  </h2>
  <div class="mt-10 h-60 w-60 shrink-0 lg:mt-0">
    <Image
      alt="Vorschau vom Triaden Pdf"
      class="h-full w-full object-cover"
      src={TriadenThumbnail}
    />
  </div>
  <div>
    <h2 class="hidden text-center font-serif text-2xl font-bold lg:block lg:text-left lg:text-4xl">
      Probier’s mit deinen Freunden aus!
    </h2>
    <p class="mt-10 text-sm lg:mt-9">
      Triaden sind eine tolle und leichte Übung, die du einfach mit deinen Freunden zuhause
      ausprobieren kannst! Lade dir dafür einfach die kostenlose PDF-Datei runter.
    </p>
    <div class="mt-7 text-center lg:text-left">
      <Button
        color="dark"
        download="Triaden zuhause.pdf"
        href="/downloads/Triaden+zuhause.pdf"
        text="Runterladen"
      />
    </div>
  </div>
</section>
