---
import MissionIcon from '@assets/icons/MissionIcon.svelte';
import ValuesIcon from '@assets/icons/ValuesIcon.svelte';
import VisionIcon from '@assets/icons/VisionIcon.svelte';
---

<section class="mx-auto mb-28 w-full max-w-[80rem] px-5 pt-14 text-center lg:px-56">
  <h1 class="mt-3 text-center font-serif text-3xl font-bold lg:text-5xl">Wer wir sind</h1>
  <div class="grid grid-cols-1 lg:mt-16 lg:items-center lg:gap-x-10 lg:gap-y-8" id="statements">
    <div
      class="mx-auto mt-8 h-28 w-28 rounded-full bg-yellow-500 p-5 shadow-lg lg:mx-0 lg:mt-0 lg:p-5"
    >
      <VisionIcon />
    </div>
    <div>
      <h3 class="mt-3 text-left font-serif text-2xl font-bold lg:mt-0 lg:text-3xl">Vision</h3>
      <p class="mt-3 text-justify lg:mt-4 lg:text-xl">
        Eine Gesellschafft, in der jeder Mensch sich besser kennerlernen kann, achtsam mit sich und
        seinem Umfeld ist und authentisch kommuniziert. Wir setzen uns für eine Welt ein, in der
        junge Menschen gestärkt sind und ihre Themen ernst genommen werden.
      </p>
    </div>
    <div
      class="bg-light-green mx-auto mt-8 flex h-28 w-28 items-center justify-center rounded-full p-5 shadow-lg lg:mx-0 lg:mt-0 lg:p-5"
    >
      <MissionIcon />
    </div>

    <div>
      <h3 class="mt-3 text-left font-serif text-2xl font-bold lg:mt-0 lg:text-3xl">Mission</h3>
      <p class="mt-3 text-justify lg:mt-4 lg:text-xl">
        Wir schaffen sichere Räume, in denen junge Menschen authentische Beziehungen und
        Gemeinschaft erfahren. Dadurch werden sie in ihrer Heilung und Entwicklung unterstützt.
      </p>
    </div>
    <div
      class="bg-pink mx-auto mt-8 flex h-28 w-28 items-center justify-center rounded-full p-5 shadow-lg lg:mx-0 lg:mt-0 lg:p-5"
    >
      <ValuesIcon />
    </div>

    <div>
      <h3 class="mt-3 text-left font-serif text-2xl font-bold lg:mt-0 lg:text-3xl">Werte</h3>
      <p class="mt-3 text-justify lg:mt-4 lg:text-xl">
        Unsere Werte sind Achtsamkeit, Empathie, Authentizität, Spielen und Ausprobieren. Mit diesen
        Werten schaffen wir eine unterstützende Umgebung für junge Menschen.
      </p>
    </div>
  </div>
</section>

<style>
  @media (min-width: 1024px) {
    #statements {
      grid-template-columns: 7rem 1fr;
    }
  }
</style>
