---
import { Image } from 'astro:assets';

import Background from '@assets/about-us/background-what-we-do.png';
import { getExercises } from '@data/exercises';

import Exercises from './Exercises.svelte';

const exercises = await getExercises();
---

<section class="relative mx-auto w-full max-w-[80rem] px-5 pb-16 pt-24 lg:px-20">
  <Image
    class="absolute left-[-6rem] top-[-9rem] -z-10 h-[18rem] w-auto lg:left-[-12rem] lg:top-[-31rem] lg:h-auto lg:w-[50em]"
    alt=""
    aria-hidden="true"
    src={Background}
    widths={[150, 300, 400, 512]}
    sizes="(max-width: 360px) 150px, (max-width: 720px) 300px, (max-width: 1024px) 400px, 512px"
  />
  <h2 class="text-center font-serif text-3xl font-bold lg:text-5xl">Was wir tun</h2>
  <h3 class="mt-14 font-serif text-2xl font-bold lg:mt-20 lg:text-4xl">
    Was dich bei unseren Veranstaltungen erwartet
  </h3>
  <div class="mt-6 grid grid-cols-1 gap-y-3 lg:mt-10 lg:grid-cols-2 lg:gap-6">
    <p class="font-sans">
      Unsere Veranstaltungen sind das Herzstück dessen, was YoungVision so besonders macht. Wir
      möchten dir einen Vorgeschmack geben auf das, was dich erwartet, und hoffen, dass du genauso
      begeistert von unseren Angeboten sein wirst wie wir es sind.
    </p>
    <p class="font-sans">
      Im Fokus stehen die Selbsterkundung und -reflektion sowie das Erfahren von Verbindung. Die
      folgenden Aktivitäten erwarten dich bei all unseren Veranstaltungen und mehr.
    </p>
  </div>

  <Exercises {exercises} client:load />
</section>
