---
import Button from '@components/Button.astro';
import { Image, getImage } from 'astro:assets';

import Background from './background-read-more.png';
import ReadMoreImage from './read-more-image.jpeg';

const BackgroundUrl = await getImage({ src: Background });
---

<section class="w-full bg-cover pb-7 pt-8 lg:px-20">
	<div
		class="flex-row items-center justify-between gap-x-24 bg-background bg-opacity-80 lg:flex lg:rounded-2xl"
	>
		<div class="hidden flex-none rounded-2xl lg:block">
			<Image
				class="h-[29rem] w-[27rem] rounded-2xl object-cover"
				src={ReadMoreImage}
				alt="Menschen sitzen in einem Van und singen. Die Person in der Mitte spielt Ukulele."
			/>
		</div>
		<div class="flex flex-col items-center px-4 py-6 lg:items-start lg:pr-24">
			<h1 class="font-serif text-2xl font-bold lg:text-3xl">Wir sind YoungVision e.V.</h1>
			<p class="mt-6 text-center leading-7 lg:text-left lg:leading-5">
				YoungVision ist eine Community von jungen Menschen für junge Menschen in Verbindung mit
				innerer Entwicklungsarbeit.
			</p>
			<p class="mt-7 text-center leading-7 lg:text-left lg:leading-5">
				Unsere Community ist geprägt von Offenheit, Empathie und gegenseitiger Unterstützung. Wir
				glauben daran, dass wahre Veränderung durch Selbstwahrnehmung und das authentische Teilen
				von Erfahrungen entsteht. Gemeinsam gestalten wir so eine Welt, in der Achtsamkeit,
				Verbundenheit und persönliche Entwicklung im Mittelpunkt stehen.
			</p>
			<Button class="mt-12" text="Erfahre mehr" href="/about-us" color="bright" />
		</div>
	</div>
</section>

<style define:vars={{ Background: `url(${BackgroundUrl.src})` }}>
	section {
		background-image: var(--Background);
	}
</style>
