---
import BauwocheHero from '@assets/events/bauwoche-2024/bauwoche-hero.jpeg';
import BauwochenPlan from '@assets/events/bauwoche-2024/Bauwoche Zeitplan.svg';
import JakobUndJonas from '@assets/events/bauwoche-2024/jakob-und-jonas.png';
import ArrowLeft from '@assets/icons/ArrowLeft.svelte';
import CalendarIcon from '@assets/icons/CalendarIcon.svelte';
import HandWithMoney from '@assets/icons/HandWithMoney.svelte';
import LocationPin from '@assets/icons/LocationPin.svelte';
import People from '@assets/icons/People.svelte';
import Button from '@components/Button.astro';
import KompostToiletteIcon from '@components/events/bauwoche-2024/KompostToiletteIcon.svelte';
import LagerIcon from '@components/events/bauwoche-2024/LagerIcon.svelte';
import PlattformIcon from '@components/events/bauwoche-2024/PlattformIcon.svelte';
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout title="YoungVision e.V. - Bauwoche">
  <Image alt="Gathering 2024" class="h-[27rem] w-full object-cover" src={BauwocheHero} />
  <div class="pr-4 lg:pr-20">
    <div class="bg-opacity-60 flex h-12 w-full items-center rounded-br-xl bg-yellow-500 lg:text-xl">
      <a class="p-3" href="/events">
        <ArrowLeft />
        <span class="sr-only">Zur vorherigen Seite</span>
      </a>
      Veranstaltungen
    </div>
  </div>

  <div class="px-4 pt-12 lg:px-20 lg:text-xl">
    <h1 class="font-serif text-4xl font-bold lg:text-5xl">Bauwoche</h1>
    <div class="mt-6 lg:mt-14 lg:px-24">
      <h2 class="font-serif text-2xl font-bold lg:text-4xl">Wichtige Infos</h2>
      <div
        class="mt-16 grid grid-cols-2 gap-x-6 gap-y-14 px-4 text-center lg:grid-cols-4 lg:px-0 lg:text-left"
      >
        <div class="flex flex-col items-center">
          <div
            class="flex h-40 w-40 items-center justify-center rounded-full bg-yellow-700 shadow-xl"
          >
            <LocationPin class="h-24 w-24" />
          </div>
          <h3 class="mt-8 font-serif text-xl font-bold">Wo</h3>
          <a class="mt-3 underline" href="https://maps.app.goo.gl/kak1RX8pJwZGnFFD7">
            <address class="not-italic">Am bhf 4, 166307 Mescherin</address>
          </a>
        </div>

        <div class="flex flex-col items-center">
          <div
            class="flex h-40 w-40 items-center justify-center rounded-full bg-yellow-700 shadow-xl"
          >
            <People class="h-24 w-24" />
          </div>
          <h3 class="mt-8 font-serif text-xl font-bold">Wer</h3>
          <p class="mt-3">20 junge Menschen</p>
        </div>
        <div class="flex flex-col items-center">
          <div
            class="flex h-40 w-40 items-center justify-center rounded-full bg-yellow-700 shadow-xl"
          >
            <CalendarIcon class="h-24 w-24" />
          </div>
          <h3 class="mt-8 font-serif text-xl font-bold">Wann</h3>
          <p class="mt-3">01.04. - 07.04.2024</p>
        </div>
        <div class="flex flex-col items-center">
          <div
            class="flex h-40 w-40 items-center justify-center rounded-full bg-yellow-700 shadow-xl"
          >
            <HandWithMoney class="h-24 w-24" />
          </div>
          <h3 class="mt-8 font-serif text-xl font-bold">Kosten</h3>
          <p class="mt-3">50€ Verpflegung</p>
        </div>
      </div>
      <div class="mt-20 lg:mt-28">
        <h2 class="font-serif text-2xl font-bold lg:text-4xl">Brief an Euch</h2>
        <div class="max-w-prose text-justify">
          <p class="mt-10 lg:mt-12">Hallo du lieber Mensch🧚🏻‍♂️✨,</p>
          <p class="mt-4">
            vom <b>1. bis 7. April</b> laden wir dich ein zu einer Woche voller
            <b>Gemeinschaft, Kreativität und gemeinsamen Schaffens.</b> Zusammen mit etwa
            <b>20 jungen Menschen</b> werden wir unseren <b>Vereinssitz</b> für die kommende Veranstaltungssaison
            fit machen.
          </p>
          <p class="mt-4">
            In dieser Woche werden wir eine <b>Komposttoilette</b> bauen, unser <b>Lager</b> einrichten
            sowie eine <b>Plattform</b> für unser Veranstaltungszelt bauen. Wir werden täglich mit einer
            <b>Morgenrunde</b> beginnen, um uns zu verbinden und den Tag gemeinsam zu starten. Abends
            haben wir Zeit für <b>Spiele, Lagerfeuer und Massagen.</b> Du hast Lust einen Programmpunkt
            anzubieten? Dann schreib uns gerne eine Email an <a
              class="text-gray-800 underline"
              href="mailto:jakob.voigt@youngvision.org">jakob.voigt@youngvision.org</a
            >.
          </p>
          <p class="mt-4">
            Mit deinem Betrag von <b>50€</b> können wir einen Teil deiner Verpflegungskosten decken,
            die Übernachtung ist für dich kostenfrei. Wenn du dir diesen Beitrag gerade nicht leisten
            kannst, schreibe uns richtig gerne eine Email.
          </p>
          <p class="mt-4">
            Um die Bauwoche bestmöglich vorzubereiten und uns schon vorab kennenzulernen, laden wir
            dich herzlich zu unserem Online-Treffen am <b>13. März 2024 von 17:30 bis 19:00 Uhr</b> ein
            <i>(optional)</i>.
          </p>
          <p class="mt-4">
            Bis ganz Bald💜,<br />
            Euer YoungVision Team
          </p>
        </div>

        <Button
          class="mt-12 lg:mt-8"
          color="dark"
          href="https://coda.io/form/YoungVision-Bauwoche-2024_dfqXbo6awYm"
          text="Anmelden"
        />
      </div>

      <div class="mt-32 lg:mt-28">
        <h2 class="font-serif text-2xl font-bold lg:text-4xl">Unsere Bauprojekte</h2>

        <div class="mt-14 flex flex-col items-center gap-12 lg:flex-row lg:px-10">
          <div>
            <KompostToiletteIcon />
            <h3 class="mt-4 text-center text-xl font-bold">Komposttoilette</h3>
          </div>
          <div>
            <LagerIcon />
            <h3 class="mt-4 text-center text-xl font-bold">Lager</h3>
          </div>
          <div>
            <PlattformIcon />
            <h3 class="mt-4 text-center text-xl font-bold">Plattform</h3>
          </div>
        </div>
      </div>

      <div class="mt-24 lg:mt-28">
        <h2 class="font-serif text-2xl font-bold lg:text-4xl">Wochenplan</h2>

        <Button
          class="mt-8 lg:hidden"
          color="dark"
          download="YoungVision Bauwoche 2024 - Wochenplan"
          href="/Bauwoche Zeitplan.pdf"
          text="Wochenplan runterladen"
        />
      </div>
    </div>
  </div>

  <div class="mt-20 hidden lg:block">
    <a download="YoungVision Bauwoche 2024 - Wochenplan" href="/Bauwoche Zeitplan.pdf">
      <Image alt="Wochenplan Bauwoche 2024" class="w-full object-cover" src={BauwochenPlan} />
    </a>
  </div>
  <div class="py-24 lg:px-44 lg:py-28 lg:text-xl">
    <div class="flex flex-col items-center lg:flex-row lg:gap-x-20">
      <div class="h-64 w-64 rounded-full lg:h-80 lg:w-80">
        <Image
          alt="Jakob & Jonas"
          class="h-full w-full rounded-full object-cover object-center"
          src={JakobUndJonas}
        />
      </div>
      <div class="text-center">
        <p class="mt-6 font-serif text-xl font-bold lg:text-3xl">Wir freuen uns auf dich!</p>
        <p class="mt-4">Links: Jonas Roth (Handwerk)</p>
        <p>Rechts: Jakob Voigt (Organisation)</p>

        <Button
          class="mt-12 lg:mt-14"
          color="dark"
          href="https://coda.io/form/YoungVision-Bauwoche-2024_dfqXbo6awYm"
          text="Anmelden"
        />
      </div>
    </div>
  </div>
</Layout>
