name: Checks

on:
  pull_request:
  merge_group:
  push:
    branches:
      - main

jobs:
  define-lint:
    runs-on: ubuntu-latest
    outputs:
      lints: ${{ steps.lints.outputs.value }}
    steps:
      - uses: actions/checkout@v4
      - uses: sergeysova/jq-action@v2
        id: lints
        with:
          cmd: jq '[.scripts | keys | .[] | select (contains("lint:")) | sub("^lint:"; "") ]' package.json --compact-output
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # otherwise one failed lint will prevent others from reporting additional errors
      matrix:
        linter: ${{ fromJSON(needs.define-lints.outputs.lints) }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'pnpm'
      # custom matchers HAVE to be named $linter-matcher.json with $linter beinb the part of the lint:$linter script in package.json
      - name: 'Add custom matcher' # see https://github.com/actions/setup-node/issues/403
        env:
          linter: ${{ matrix.linter }}
        if: ${{ hashFiles('.github/workflows/${{ matrix.linter }}-matcher.json') != '' }} # only run if a custom matcher exists
        run: echo "::add-matcher::.github/workflows/$linter-matcher.json"
      - name: Install Node Dependencies
        run: pnpm install
      - name: Run all lints
        env:
          linter: ${{ matrix.linter }}
        run: pnpm run lint:$linter
